body {
  font-size:15pt;
  font-family: 'Source Serif Pro', serif;
  margin-left: 45%;
  margin-right: 15%;
  line-height: 1.6;
  font-weight: normal;
  color: #444444;
  transition: all 0.3s ease;
}

div {
    display:inline;
}
.dark-mode {
  background-color: #010101;
  color: #8d8d8d;
  transition: all 0.3s ease;
}

/*------------------- PANEL INMOVIL/de PRESENTACIÓN ---------------------------*/
 img {
  position:fixed;
  right:0px;
  top:0px;
  margin-left: -20%;
  margin-top: 12%;
}
/* .portada {
  position: fixed;
  margin-right: 73%;
  margin-top: 12%;
  margin-left: -27%;
} */

/*.portada:hover{
  opacity: 0.5;
}*/

.titulo {
  position: fixed;
  margin-top:2%;
}

.autor {
  position: fixed;
  margin-top:7%;
}

.indice {
  position: fixed;
  margin-top: 37%;
}

.repositorio { 
  position: fixed;
  margin-top: 40%;
}

header {
  position: fixed;
  margin-left: -27%;
  font-size: 13pt;
  margin-right: 73%;
}

/*--------------------------------------------------------------*/
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}
/*------------------BOTÓN MODO OSCURO--------------------------*/
.switch {
  background-color: #fffdfd;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  position:fixed;
  margin-left:16%;
  margin-top: 4%;
}

.oscuro {
  width: 10px;
  height: 12px;
  display: block;  
  background: none;
  color:#fde400;
  font-size: 15pt;
  position: relative;
  margin-left:16%;
  margin-top: 20%;
}

.oscuro:hover {
  color:#c4c4c4;
}

body.dark-mode header button {
  background-color:#010101;
}


/*--------------------------------------------------------------*/
.nota {
  display: inline;
}


/*---------------------------LINKS Y BOTONES-------------------*/
a {
  color:#3A5989;
  text-decoration: none;
}

a.hover {
  color:#3A5989;
}

.boton {
    border-style:solid;
    border-width:2px;
    border-color:#6D8DBE;
    border-radius:5px;
    padding: 5px;
}

.boton:hover {
    background-color: #6D8DBE;
    color:#010101;
    font-weight: bold;
}

.anterior {
  border-style:solid;
  border-width:2px;
  border-color:#6D8DBE;
  border-radius:5px;
  padding: 5px;
}

.anterior:hover {
  background-color: #6D8DBE;
  color:#010101;
  font-weight: bold;
}

.siguiente {
  margin-left: 50%;
  border-style:solid;
  border-width:2px;
  border-color:#6D8DBE;
  border-radius:5px;
  padding: 5px;
}

.siguiente:hover {
  background-color: #6D8DBE;
  color:#010101;
  font-weight: bold;
}
/*.siguiente {
  border-style:solid;
  border-width:2px;
  border-color:#6D8DBE;
  border-radius:5px;
  padding: 5px;
}

.siguiente:hover {
  background-color: #6D8DBE;
  color:#010101;
  margin-right: 0%;

}
*/
/*--------------------------------------------------------------*/


/*-------------------------TÍTULOS-----------------------------*/
h1, h2, h3, h4, h5, h6 {
  color:#494949;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4 {
  color:#EEDBA8;
}
/*--------------------------------------------------------------*/
/*---------------------EPÍGRAFES Y CITAS----------------------*/
.epigrafe {
    text-align:right;
    font-size: 13pt;
    line-height: 0.8;
}

.quote {
    text-align:center;
    font-size: 13pt;
    line-height: 0.8;
}
/*--------------------------------------------------------------*/
/*--------------------------CARTAS------------------------------*/

.carta {
    margin-left: 10%;
    font-size:14pt;
    font-style:italic;
}
/*------------------------------------------------------------*/

/*------------NOTAS CRÍTICAS, EXPOSITIVAS Y DE LA AUTORA----------------*/

input[type=checkbox] {
  display:none;
}

input[type=checkbox] ~ span {
  display: none;
}

input[type=checkbox]:checked ~ span {
  display:inline; 
  font-weight: 400;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
}


input[type=checkbox] ~ label {
  display:inline;
  cursor:pointer;
  color:#6D8DBE;
}

input[type=checkbox] ~ label:hover {
  cursor:pointer;
  color:#D35400 ;
}

input[type=checkbox]:checked ~ label {
  color:#D35400 ;
  text-decoration:none;
}
/*--------------------------------------------------------------*/


/*-----------------------DATOS ELIMINADOS----------------------*/
.eliminado {
  position:relative;
  display:inline-block;
  color:#6D8DBE;
}

.sic {
  visibility: hidden;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: max-content;
  top: 0%;
  margin-left: auto;
  z-index: 1;
}

.eliminado:hover .sic {
  visibility: visible;
}
/*--------------------------------------------------------------*/

/*--------------------------AGREGADOS---------------------------*/
.agregado {
  position:relative;
  display:inline-block;color:#6D8DBE;
}

.aplicado {
  visibility: hidden;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: max-content;
  top: 0%;
  left: 0%;
  margin-left: auto;
  z-index: 1;
}

.agregado:hover .aplicado {
  visibility: visible;
}
/*--------------------------------------------------------------*/


/*-------------------------ORTOGRAFÍA--------------------------*/

.regulado {
  position:relative;
  display:inline-block;
  color:#6D8DBE;
}

.original {
  visibility: hidden;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: max-content;
  top: 0%;
  margin-left: auto;
  z-index: 1;
}

.regulado:hover .original {
  visibility: visible;
}
/*--------------------------------------------------------------*/


/*------------------------ABREVIATURAS-------------------------*/
.regulado {
  position:relative;
  display:inline-block;
  color:#6D8DBE;
}

.abreviatura {
  visibility: hidden;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: max-content;
  left: 0%;
  top: 0%;
  margin-left: auto;
  z-index: 1;
}

.regulado:hover .abreviatura {
  visibility: visible;
}
/*--------------------------------------------------------------*/


/*--------------------------PAGINACIÓN-------------------------*/
.pagina {
  position:relative;
  display:inline-block;
  color:#6D8DBE;
}

.numero {
  visibility: hidden;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position:absolute;
  left: 0%;  
  width: max-content;
  top: 0%;
  margin-left: auto;
}

.pagina:hover .numero {
  visibility: visible;
  /*opacity: 0;*/
}

/*--------------------------------------------------------------*/


/* ---------------------BOTON DE SWITCH--------------------*/

/*button .switch {
  background-color: #b4b2b2;
  border-radius: 1000px;
  border:none;
  position: relative;
  cursor:pointer; 
  display:flex;
  outline: none;
  margin-left: 75%;
  margin-top: -15%;
}

button .switch:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position:absolute;
  background-color: #F1F1F1;
  border-color: #7c7c7c;
  top:-1;
  left:0;
  right: unset;
  border-radius: 100px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
}

button .switch:active {
  background-color: #343D5b;
  color: #010101;
}

button .switch:active::after {
  position: absolute;
  right: 0;
  left: unset;
}

span .oscuro {
  width: 10px;
  height: 12px;
  display: block;  
  background: none;
  color:#fff;
}*/