.portada {
  position: fixed;
  margin-left: 13%;
  margin-right: 63%;
  margin-top: 12%;
  margin-bottom: 15%;
}

.portada:hover{
  opacity: 0.5;
}
header {
  position: fixed;
  margin-left: -27%;
  margin-right: -60%;
  margin-top:2%;
  font-size: 13pt;
  font-family: 'Alice', serif;
}

body {
  font-size:15pt;
  margin-left: 45%;
  margin-right: 15%;
  color: #353535;
  
}

.dark-mode {
  background-color: #010101;
  color: #8d8d8d;
}

img {
  position:fixed;
  right:0px;
  top:0px;
}

sup {
    color:#3A5989;
}

input[type=checkbox] ~ span {display: none;}
input[type=checkbox]:checked ~ span {display:inline;
font-style:italic;
font-size:12pt;}
input[type=checkbox] {display:none;}


a {
  color:#3A5989;
  text-decoration: none;
}

a.hover {
  color:#3A5989;
  font-weight: 400;

}

.boton {
    border-style:solid;
    border-width:2px;
    border-color:#6D8DBE;
    border-radius:5px;
    padding: 5px;
}

.boton:hover {
    background-color: #6D8DBE;
    color:#010101;
}

/*.siguiente {
  border-style:solid;
  border-width:2px;
  border-color:#6D8DBE;
  border-radius:5px;
  padding: 5px;
}

.siguiente:hover {
  background-color: #6D8DBE;
  color:#010101;
  margin-right: 0%;

}
*/

h1 h2 h3 h4 h5 h6 {
  color:#494949;
}



.epigrafe {
    text-align:right;
}

.quote {
    text-align:center;
}

.expansion {
  position:relative;
  display:inline-block;
  text-decoration:underline;
  text-decoration-line:underline;
  text-decoration-color:#6D8DBE;
}

.abreviatura {
  visibility: hidden;
  width: 120px;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: auto;
  top: 100%;
  margin-left: auto;
  z-index: 1;
}

.expansion:hover .abreviatura {
  visibility: visible;
}

.regulado {
  position:relative;
  display:inline-block;
  text-decoration:underline;
  text-decoration-line:underline;
  text-decoration-color:#6D8DBE;
}

.original {
  visibility: hidden;
  width: 120px;
  background-color:#6D8DBE;
  color:#010101;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;
  position: absolute;
  width: auto;
  top: 100%;
  margin-left: auto;
  z-index: 1;
}

.regulado:hover .original {
  visibility: visible;
}



.agregado {
    text-decoration-line:underline;
    text-decoration-color:#6D8DBE;
}

.autora {
    visibility:hidden;
}

.critico {
    visibility:hidden;
}

.expo {
    visibility:hidden;
}

.sic {
    visibility:hidden;
}

.pagina {
    visibility:hidden;
}
