---
---

@import "{{ site.theme }}";

body {
    background-color:#010101;    
}

h1 {
    color:#6D8DBE;
}

h2 {
    color:#6D8DBE;
}

h4 {
    color:#6D8DBE;
}

.epigrafe {
    text-align:right;
}

.quote {
    text-align:center;
}

a {
    color:#D35400;
}
