---
---

@import "{{ site.theme }}";

body {
    background-color:#010101;
    font-size:20px;
}

a {
    color:#6D8DBE;
}


h1 {
    color:#EEDBA8;
}

h2 {
    color:#EEDBA8;
}

h4 {
    color:#EEDBA8;
}

.epigrafe {
    text-align:right;
}

.quote {
    text-align:center;
}

